absl-py==0.13.0
aiohttp==3.8.4
aiosignal==1.3.1
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
astunparse==1.6.3
async-timeout==4.0.2
attrs==22.2.0
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.1
cachetools==5.2.0
certifi @ file:///croot/certifi_1671487769961/work/certifi
cffi==1.15.1
charset-normalizer==2.1.0
chex==0.1.3
colorama==0.4.5
commonmark==0.9.1
cycler==0.11.0
debugpy==1.6.2
decorator==5.1.1
defusedxml==0.7.1
dm-tree==0.1.7
docopt==0.6.2
entrypoints==0.4
etils==0.6.0
executing==0.9.1
fastjsonschema==2.16.1
flatbuffers==2.0
flax==0.5.3
frozenlist==1.3.3
fsspec==2023.3.0
gast==0.5.3
gin-config @ git+https://github.com/google/gin-config@243ba87b3fcfeb2efb4a920b8f19679b61a6f0dc
google-auth==2.9.1
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.48.0
gviz-api==1.10.0
h5py==3.7.0
hypernerf @ git+https://github.com/google/hypernerf@d433ebeba4ddd91fd83aa9af3423333d2d5934e7
idna==3.3
imageio==2.9.0
immutabledict==2.2.0
importlib-metadata==6.0.0
importlib-resources==5.9.0
ipykernel==6.15.1
ipython==8.4.0
ipython-genutils==0.2.0
jax==0.3.15
jaxlib==0.3.15+cuda11.cudnn82
jedi==0.18.1
Jinja2==3.1.2
jsonschema==4.9.0
jupyter-client==7.3.4
jupyter-core==4.11.1
jupyterlab-pygments==0.2.2
keras==2.8.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
libclang==14.0.1
lightning-utilities==0.8.0
lpips==0.1.4
Markdown==3.3.4
MarkupSafe==2.1.1
matplotlib==3.4.3
matplotlib-inline==0.1.3
mediapy==1.0.3
mistune==0.8.4
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626186064646/work
mkl-service==2.4.0
msgpack==1.0.4
multidict==6.0.4
nbclient==0.6.6
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
networkx==2.8.6
notebook==6.4.12
numpy @ file:///croot/numpy_and_numpy_base_1672336185480/work
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
oauthlib==3.1.1
opencv-python==4.5.3.56
opt-einsum==3.3.0
optax==0.0.9
packaging==21.3
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.0
pkgutil_resolve_name==1.3.10
prometheus-client==0.14.1
prompt-toolkit==3.0.30
protobuf==3.19.4
psutil==5.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pyee==8.2.2
Pygments==2.12.0
pyparsing==3.0.9
pyppeteer==1.0.2
pyrsistent==0.18.1
python-dateutil==2.8.2
pytorch-lightning==1.9.4
PyWavelets==1.3.0
PyYAML==6.0
pyzmq==23.2.0
requests==2.28.1
requests-oauthlib==1.3.1
rich==11.2.0
rsa==4.9
scikit-image==0.19.3
scipy==1.10.1
Send2Trash==1.8.0
six @ file:///tmp/build/80754af9/six_1644875935023/work
soupsieve==2.3.2.post1
stack-data==0.3.0
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-profile==2.8.0
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.2
tensorflow-estimator==2.8.0
tensorflow-io-gcs-filesystem==0.26.0
tensorstore==0.1.21
termcolor==1.1.0
terminado==0.15.0
tifffile==2022.8.12
tinycss2==1.1.1
toolz==0.12.0
torch==1.12.1
torchmetrics==0.11.4
torchvision==0.13.1
tornado==6.2
tqdm==4.65.0
traitlets==5.3.0
typing_extensions==4.5.0
urllib3==1.26.11
wcwidth==0.2.5
webencodings==0.5.1
websockets==10.4
Werkzeug==2.2.1
wrapt==1.14.1
yarg==0.1.9
yarl==1.8.2
zipp==3.8.1
